{% extends 'base.html' %}

{% block body %}
<p id="explanation">各値を変更してEnterキーを押すと更新されます</p>
<div id="graph_area">
    <div class="img_area">
        <img src="data:image/png:base64,{{ img_data }}"/>
    </div>

    <div class="form_area">
        <form method="post" enctype="multipart/form-data">
            <input type="number" name="size" value="{{size}}" class="hide">
            {% for i in range(size)%}
                <div class="table_area">
                    <table border="1" class="input_table">
                        <tr height="33%">
                        <th class="text">分　</th>
                        <th><input type="number" name="time{{i}}" value="{{param[i].time}}" class="input"/></th>
                        </tr>
                        <tr>
                            <th class="text">UV　</th>
                            <th><input type="number" name="a{{i}}" value="{{param[i].a}}" class="input"/></th>
                            <th>〜</th>
                            <th><input type="number" name="b{{i}}" value="{{param[i].b}}" class="input"/></th>
                        </tr>
                        {% if param[i].c !=0 or param[i].d !=0 %}
                            <tr>
                                <th class="text">RI　</th>
                                <th><input type="number" name="c{{i}}" value="{{param[i].c}}" class="input"/></th>
                                <th>〜</th>
                                <th><input type="number" name="d{{i}}" value="{{param[i].d}}" class="input"/></th>
                            </tr>
                        {% else %}
                            <input type="number" name="c{{i}}" value="{{param[i].c}}" class="hide"/>
                            <input type="number" name="d{{i}}" value="{{param[i].d}}" class="hide"/>
                        {% endif %}
                    </table>
                </div>
            {% endfor %}
            <div class="update">
                <input type="submit" value="更新" formaction="/drowgraph" class="hide"/>
            </div>
        </form>
    </div>

    
</div>
<div class="button_area">
    
    <form method="get" enctype="multipart/form-data" class="form">
        <input type="submit" value="戻る" formaction="/" class="button">    
    </form>
    <form method="post" enctype="multipart/form-data" class="form">
        <input type="submit" value="PDFとして保存" formaction="/save" class="button green">    
    </form>
    
</div>
{% endblock %}