{% extends 'base.html' %}

{% block body %}
<p id="explanation">データファイルは「コンマ区切りのクロマトグラム」が入ったtxtファイルを選択してください。ファイルは3つまで選択できます。　<a href="/help"><i class="far fa-question-circle"></i></a></p>
{% if message %}
    <p class="alert">{{message}}</p>
{% endif %}
<form action="/drowgraph" method="post" enctype="multipart/form-data">
    <input type="file" name="data_file" multiple="multiple" class="file_input" accept=".txt"/>    
    <input type="submit" value="グラフ出力" class="button"/>
</form>
{% endblock %}